*.parquet filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
query_ids.pkl filter=lfs diff=lfs merge=lfs -text
url_to_doctext_mapping.pkl filter=lfs diff=lfs merge=lfs -text
